html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; } html { line-height: 1; } ol, ul { list-style: none; } table { border-collapse: collapse; border-spacing: 0; } caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; } q, blockquote { quotes: none; } q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; } a img { border: none; } article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

*:not(input) {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "Bebas";
  src: url('/fonts/bebas.eot?1398186070');
  src: url('/fonts/bebas.eot?&1398186070#iefix') format('embedded-opentype'), url('/fonts/bebas.woff?1398186070') format('woff'), url('/fonts/bebas.ttf?1398186070') format('truetype'), url('/fonts/bebas.svg?1398186070') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Bebas";
    src: url("/fonts/bebas.svg") format("svg");
  }
}
@font-face {
  font-family: "Lane";
  src: url('/fonts/lane.eot?1398186070');
  src: url('/fonts/lane.eot?&1398186070#iefix') format('embedded-opentype'), url('/fonts/lane.woff?1398186070') format('woff'), url('/fonts/lane.ttf?1398186070') format('truetype'), url('/fonts/lane.svg?1398186070') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Lane";
    src: url("/fonts/lane.svg") format("svg");
  }
}

html {
  font-size: 200%;
  line-height: 1.25em;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h4 {
  font-family: Bebas;
  text-align: center;
}

body {
  font-family: Lane;
  background: url(/demo/images/bg.png);
  min-width: 320px;
}

main {
  padding: 50px 0;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
}

p {
  padding-top: 50px;
  font-size: 0.75rem;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.25;
}

p a {
  font-size: 0.75rem;
  text-transform: none;
}

ul {
  margin: 50px 0;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.05);
}

li:hover {
  background: rgba(0, 0, 0, 0.3);
}

a {
  padding: 15px 0;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.5);
}
